<main>
  <div class='main__content'>
    <%= form_for @list do |f| %>
      <div class='new_list--input'>
        <%= f.label :name, '新しいリストを作成する', class: 'new_list--input--label' %><br>
          <%= f.text_field :name, class: 'new_list--input--name', placeholder: 'リスト名を入力してください' %>
        <%= f.submit 'リストの作成', id: 'input_box' %>
      </div>
    <% end %>
    <% if @list.errors.any? %>
      <%= render 'common/error', notice: @list %>
    <% end %>
    <%= render 'flash' %>
    <div class='main__lists'>
      <ul class='lists'>
        <% if @lists.exists? %>
          <%= render 'list', lists: @lists %>
        <% else %>
          <div class='no_list'>
            登録されているTodoリストがありません
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</main>
