<main>
  <div class='main__content'>
    <%= form_for @list do |f| %>
      <div class='new_list--input'>
        <%= f.label :name, '新しいリストを作成する', class: 'new_list--input--label' %><br>
          <%= f.text_field :name, class: 'new_list--input--name', placeholder: 'リスト名を入力してください' %>
        <%= f.submit 'リストの作成', id: 'input_box' %>
      </div>
    <% end %>
    <% if @list.errors.any? %>
      <ul class='error_messages_lists'>
        <% @list.errors.full_messages.each do |err| %>
          <li class='error_message_list'>
            <p class='error_message'><%= err %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class='main__lists'>
      <ul class='lists'>
        <% if @lists.exists? %>
          <% @lists.each do |list| %>
            <li class='list'>
              <div class='list--detail'>
                <p class='list--detail__name'>
                  <%= link_to "#{ list.name }", list_todos_path(list), class: 'list--detail__name__path' %>
                </p>
                <p class='list--detail__todo'>todoがありません</p>
              </div>
            </li>
          <% end %>
        <% else %>
          <div class='no_list'>
            登録されているTodoリストがありません
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</main>
