<div class='main'>
  <div class='todo__detail' data-list-id=<%= @list.id %>>
    <h1 class='todo__detail__name'><%= @list.name %></h1>
    <%= form_for [@list,@todo] do |f| %>
      <p id='form__description'>新しいTodoを作成する</p>
      <ul class='new_todo__detail--form'>
        <li class='new_todo__detail--form__input'>
          <%= f.label :body, 'Todo名', class: 'new_todo__detail--form__input__label' %>
          <%= f.text_field :body, class: 'new_todo__detail--form__input__text', placeholder: 'Todo名を入力してください' %>
        </li>
        <li class='new_todo__detail--form__input'>
          <%= f.label :limit, '期限', class: 'new_todo__detail--form__input__label' %>
          <%= f.text_field :limit, class: 'new_todo__detail--form__input__text', placeholder: '例) 2017年8月10日 => 2017-08-09 or 20170809' %>
          <%= f.hidden_field :state, value: 1 %>
          <%= f.submit 'Todoの追加', id: 'submit_button' %>
        </li>
      </ul>
    <% end %>
    <% if @todo.errors.any? %>
      <%= render 'common/error', notice: @todo %>
    <% end %>
  </div>
  <% if @todos.exists? %>
    <%= render 'todo', todos: @todos %>
  <% else %>
    <div class='no_todo_list'>
      登録されたTodoはございません。
    </div>
  <% end %>
</div>
