<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='clearfix'>
      <div class='root_path_logo'>
        <%= link_to 'Todoリスト', root_path %>
      </div>
      <div class='search_path_logo'>
        <%= link_to '検索', root_path %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
